<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Graphql -->
      <package
            uri="http://www.example.org/Graphql"
            class="br.unicamp.ic.mo631.Graphql.model.Graphql.GraphqlPackage"
            genModel="model/Graphql.genmodel"/>
   </extension>

</plugin>
